* {
  margin: 0;
}

:root {
  --bg-0: #333;
  --bg-1: #555;
  --fg-white: #ccc;
  --fg-black: #222;
  --fg-grey: #444;

  --fg-white-t: #ccc7;
  --fg-black-t: #2227;

  --c-tile-size: 5rem;
  font-size: 16px;
}

@media only screen and (max-height: 780px) {
  :root {
    font-size: 12px;
  }
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-0);
  height: 100%;
  padding: 1px;
  color: var(--fg-white);
}

main {
  min-height: 100%;
  display: flex;

  // Center the board
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background-color: var(--bg-1);
  color: var(--fg-white);
  padding: 6px 10px;
}

.g-container {
  padding: 2.75rem;
  background-color: #aa9e63;
  --tile-width: 2rem;
  --border-width: 1px;
}

.g-container svg {
  position: absolute;
}

.g-board {
  border-collapse: collapse;
  --tile-width: 2rem;
  --border-width: 1px;
}

.g-board td {
  border: 1px solid black;
  width: var(--tile-width);
  height: var(--tile-width);
  padding: 0;
}

.g-preview-white {
  width: var(--tile-width);
  height: var(--tile-width);
  background-color: var(--fg-white-t);
}

.g-preview-black {
  width: var(--tile-width);
  height: var(--tile-width);
  background-color: var(--fg-black-t);
}

.control-panel {
  margin-left: 2rem;
  padding: 2rem;
  background-color: var(--fg-black);
  width: 8rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
}

.control-panel button {
  flex-grow: 0;
}

.g-container .dot {
  width: 7px;
  height: 7px;
  border-radius: 3px;
  display: inline-block;
  background-color: var(--bg-0);
  position: absolute;
}

#menu-icon {
  filter: invert(89%) sepia(8%) saturate(0%) hue-rotate(162deg) brightness(83%) contrast(88%);
  margin-left: 1rem;
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
